<%
/**
 * @classification UNCLASSIFIED
 *
 * @module views/_includes.banner-header
 *
 * @copyright Copyright (C) 2018, Lockheed Martin Corporation
 *
 * @license MIT
 *
 * @owner James Eckstein
 *
 * @author Josh Kaplan
 *
 * @description The header.
 */
 %>
<div id="header" class="header" style="
            width: 100%;
            position: fixed;
            top: 0;
            text-align: center;
            font-size: 14px;
            color: <%= ui.banner.color || "#333" %>;
            background: <%= ui.banner.background || "#fff" %>;
            font-weight: <%= (ui.banner.bold) ? "bold":"normal"%>;
            border-bottom: <%= (ui.banner.border) || "none" %>;
            z-index: 1000;
            "><%= ui.banner.message %></div>
